
<!-- get data from firebase using pipe keyalue-->
<!-- <ul>
  <li *ngFor="let course of courses | keyvalue">
    {{course.value}}
  </li>
</ul> -->

<!-- get data from firebase without using pipe keyalue-->
<!-- <ul>
  <li *ngFor="let course of courses">
    {{course}}
  </li>
</ul> -->

<!-- get data from firebase using pipe keyalue and using unsubscribe-->
<!-- <button (click)="ngOnDestroy()">Offline</button>
<ul>
  <li *ngFor="let course of courses | keyvalue">
    {{course.value}}
  </li>
</ul> -->



<!-- get data from firebase without using pipe keyalue and using unsubscribe-->
<!-- <button (click)="ngOnDestroy()">Offline</button>
<ul>
  <li *ngFor="let course of courses">
    {{course}}
  </li>
</ul> -->

<!-- read one object from firebase-->

<!-- 
<p>{{ course$ | async | json }}</p>

<p>{{ author$ | async | json }}</p>
 -->




<!-- get data of complex object from firebase without using 'as' keyword-->

<!-- <ul>
  <li>{{ (author$ | async)?.name }}</li>
  <li>{{ (author$ | async)?.students }}</li>
  <li>{{ (author$ | async)?.isPremium }}</li>
</ul> -->

<!-- get data of complex object from firebase using 'as' keyword-->

<!-- <ul *ngIf="author$ | async as author">
  <li>{{ author.name }}</li>
  <li>{{ author.students }}</li>
  <li>{{ author.isPremium }}</li>
</ul> -->

 <input type="text" (keyup.enter)="add(course)" #course>
  <!--#course:template variable and reference for input element -->
<ul>
  <li *ngFor="let course of courses$ | async">
    {{course.name || course}}
  </li>
</ul>


<router-outlet></router-outlet>